@import '../../theme/variables.scss';

page-splash {
  .scroll-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .logo-wrapper {
    font-weight: 600;
    border: 1px solid black;
    color: $primary-blue;
    width: 60%;
    font-size: 20px;
    padding: 20px 40px;
    text-align: center;
  }

  .title {
    font-size: 36px;
    color: $primary-blue;
  }

  .footer {
    width: 50%;
    font-size: 20px;
    color: $gray;
    text-align: center;
  }
}