@import '../../theme/variables.scss';

page-home {
  .scroll-content {
    display: flex;
    flex-direction: column;
  }

  .text-styled-area {
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    padding: 20px 10px;
  }

  .custom-input {
    margin-top: 10px;
    border: 1px solid $secondary-blue;
    color: $primary-blue;
    padding: 8px 10px;
    height: 56px;
  }

  .custom-button {
    background-color: $primary-blue;
    color: white;
    border-radius: 5px;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
  }
}
